alembic==1.13.1
androguard==4.1.1
apkInspector==1.2.2
asgiref==3.7.2
asn1crypto==1.5.1
asttokens==2.4.1
banal==1.0.6
cffi==1.16.0
click==8.1.7
colorama==0.4.6
colorclass==2.2.2
contourpy==1.2.1
cryptography==42.0.5
cycler==0.12.1
dataset==1.6.2
decorator==5.1.1
Django==5.0.3
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.1
easygui==0.98.3
executing==2.0.1
fonttools==4.51.0
frida==16.2.1
greenlet==3.0.3
ipython==8.23.0
jedi==0.19.1
joblib==1.3.2
kiwisolver==1.4.5
loguru==0.7.2
lxml==5.2.1
Mako==1.3.2
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.6
msoffcrypto-tool==5.3.1
mutf8==1.0.6
networkx==3.3
numpy==1.26.4
olefile==0.47
oletools==0.60.1
packaging==24.0
pandas==2.2.1
parso==0.8.4
pcodedmp==1.2.6
pefile==2023.2.7
pexpect==4.9.0
pillow==10.2.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydot==2.0.0
Pygments==2.17.2
PyJWT==1.7.1
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-magic==0.4.27
pytz==2024.1
PyYAML==6.0.1
scikit-learn==1.1.3
scipy==1.12.0
six==1.16.0
SQLAlchemy==1.4.52
sqlparse==0.4.4
stack-data==0.6.3
threadpoolctl==3.3.0
traitlets==5.14.2
typing_extensions==4.11.0
tzdata==2024.1
wcwidth==0.2.13
