asgiref==3.7.2
cffi==1.16.0
colorclass==2.2.2
cryptography==42.0.5
Django==5.0.3
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.1
easygui==0.98.3
joblib==1.3.2
msoffcrypto-tool==5.3.1
numpy==1.26.4
olefile==0.47
oletools==0.60.1
pcodedmp==1.2.6
pefile==2023.2.7
pillow==10.2.0
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==1.7.1
pyparsing==2.4.7
python-decouple==3.8
python-magic==0.4.27
pytz==2024.1
scikit-learn==1.1.3
scipy==1.12.0
sqlparse==0.4.4
threadpoolctl==3.3.0
